<!DOCTYPE html>
<html>
  <head>
    <script type="text/javascript" src="https://cdn.jsdelivr.net/gh/google/code-prettify@master/loader/run_prettify.js?"></script>    
    <link rel="stylesheet" type="text/css" href="Libraries/code-theme.css" />       
    <link rel="stylesheet" type="text/css" href="Libraries/website-theme.css">
  </head>

  <body>    
    <div id="myHeader" class="header">
      <a href="Projects/Boids">Link Button</a>    
      <P>test 1</P>
      
      <b style="display: block; padding:2px; background-color: var(--extraDark);">var(--extraDark)</b>
      <b style="display: block; padding:2px; background-color: var(--dark);">var(--dark)</b>
      <b style="display: block; padding:2px; background-color: var(--medium);">var(--medium)</b>
      <b style="display: block; padding:2px; background-color: var(--light);">var(--light)</b>
      <b style="display: block; padding:2px; background-color: var(--extraLight);">var(--extraLight)</b>
      <b style="display: block; padding:2px; background-color: var(--faded);">var(--faded)</b>
      <b style="display: block; padding:2px; background-color: var(--highlight);">var(--highlight)</b>
      <hr>
    </div>    
    <div class="tutorial">  
      <div class="tutorialBookmarks">
        <h2 style="margin-top: 0;">
          Contents
        </h2>
        <hr>        
      </div>    
    </div> 
  </body>
</html>
