<div class="header">
  <a href="Projects/Boids">Link Button</a>    
  <P>test 1</P>
  
  <b style="display: block; padding:2px; background-color: var(--extraDark);">var(--extraDark)</b>
  <b style="display: block; padding:2px; background-color: var(--dark);">var(--dark)</b>
  <b style="display: block; padding:2px; background-color: var(--medium);">var(--medium)</b>
  <b style="display: block; padding:2px; background-color: var(--light);">var(--light)</b>
  <b style="display: block; padding:2px; background-color: var(--extraLight);">var(--extraLight)</b>
  <b style="display: block; padding:2px; background-color: var(--faded);">var(--faded)</b>
  <b style="display: block; padding:2px; background-color: var(--highlight);">var(--highlight)</b>
  <hr>
</div>   